* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #252525;
  color: #f2f2f2;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
}

.result{
  width:50vh;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  margin-top:20vh;
  padding:15px;
  margin-bottom:10vh;
  border: 2px solid white;
  h3{
    text-align:left;
    padding-top:5px;
    font-weight: 500;
   
  }
  hr{
    width:50%;
    margin:auto;
  }
  
}

.weight,
.height {
  display: flex;
  flex-direction: column;
  .title {
    margin: 0 0 20px;
    // text-align: center;
    font-weight: 500;
  }

  .kg-value,
  .meter-value {
    font-size: 1em;
    padding: 5px;
    border: none;
  }

  .btn {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 0.9em;
    background: teal;
    color: white;
    border: none;
    cursor: pointer;
  }

  .label {
    text-align: center;
    font-size: 0.9em;
    color: orangered;
    transition: all 250ms ease-out;
    pointer-events: none;
    opacity: 0;
  }

  .weight-box,
  .height-box {
    margin: 10px 0;
    padding: 10px 5px;
    opacity: 0;
    user-select: none;
    transition: all 350ms ease-out;

    &.show {
      opacity: 1;
    }

    .subtitle {
      margin-bottom: 8px;
      font-weight: 500;
    }
  }

  .pound {
    background: tomato;
  }
  .gram {
    background: steelblue;
  }
  .ounce {
    background: rebeccapurple;
  }
}
